{% extends "base.html" %}

{% block content %}
    <form method="POST" action="{% url 'event_store' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-outline mb-4">
            <label class="form-label" for="title">Title</label>
            <input name="title" type="text" id="title" class="form-control" required/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="description">Description</label>
            <textarea name="description" id="description" class="form-control" rows="4" required></textarea>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="datetime">Date and time of event</label>
            <input name="datetime" type="datetime-local" id="datetime" class="form-control" required/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="location">Location</label>
            <input name="location" type="text" id="location" class="form-control" required/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="image">Event Image</label>
            <input name="image" type="file" id="image" class="form-control" accept="image/*" required/>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Create Event</button>
    </form>
{% endblock %}
